@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  height: 100%;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

.app {
  height: 100%;
  width: 100%;
}

.app .background {
  background-image: url(../tokyo-unplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100%;
}

.app .blur {
  background: rgba(255, 76, 165, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app header {
  width: 100%;
  height: 160px;
  background-color: #a81c1caa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app header h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  color: #f9f9f9;
}

.app header nav {
  width: 160px;
  position: absolute;
  right: 16px;
}

.app header nav button {
  height: 32px !important;
  width: 160px;
  background: none;
  border: 2px solid #f9f9f9;
  color: #f9f9f9;
  font-size: 18px;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
}

.app main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.app main .box-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app main .box {
  padding: 16px;
}

.app main .box p {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #f9f9f9;
  font-weight: 300;
}

.app main .box textarea {
  width: 100%;
  background-color: #4b106dee;
  border-radius: 8px;
  color: #f9f9f9;
  outline: none;
  resize: none;
  padding: 8px;
  font-size: 32px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

.app footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #a81c1caa;
}

.app footer a {
  outline: none;
  text-decoration: none;
  font-size: 18px;
  color: #f9f9f9;
  -webkit-transition: .2s;
  transition: .2s;
}

.app footer a:hover {
  color: #fcff34aa;
}

.active {
  background-color: #f9f9f9 !important;
  color: #53c2cc !important;
  cursor: unset !important;
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */