@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$primaryColor: #f9f9f9;
$contextualColor: #a81c1caa;

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexRowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box !important;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Barlow', sans-serif;
}

.app{
    height: 100%;
    width: 100%;

    .background{
        background-image: url(../tokyo-unplash.jpg);
        background-position: center ;
        background-repeat: no-repeat;
        background-size: auto;
        height: 100vh;
        width: 100%;
    }

    .blur{
        background: rgba(255, 76, 165, 0.2);
        backdrop-filter: blur(3px);
        height: 100vh;
        width:100%;

        @include flexColumnCenter();
    }

    header{
        width: 100%;
        height: 160px;
        background-color: $contextualColor;
        
        @include flexRowCenter();

        h1{
            text-align: center;
            font-size: 48px;
            font-weight: 400;
            color: $primaryColor;
        };

        nav{
            width: 160px;
            position: absolute;
            right: 16px;

            button{
                height: 32px !important;
                width: 160px;
                background: none;
                border: 2px solid $primaryColor;
                color: $primaryColor;
                font-size: 18px;
                outline: none;
                transition: .1s;
                cursor: pointer;
            }
        }
    }

    main{        
        flex: 1;
        width: 100%;

        .box-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box{
            padding: 16px;
            
            p{
                font-size: 28px;
                font-weight: 500;
                text-align: center;
                color: $primaryColor;
                font-weight: 300;
            }

            textarea{
                width: 100%;
                background-color: #4b106dee;
                border-radius: 8px;
                color: #f9f9f9;
                outline: none;
                resize: none;
                padding: 8px;
                font-size: 32px;
                font-family: "Barlow", sans-serif;
                font-weight: 300;
            }
        }
    }

    footer{
        @include flexRowCenter();
        
        height: 50px;
        width: 100%;
        background-color: $contextualColor;
        
        a{
            outline: none;
            text-decoration: none;
            font-size: 18px;
            color: #f9f9f9;
            transition: .2s;

            &:hover{
                color: #fcff34aa;
            }
        }
    }
}

.active{
    background-color: #f9f9f9 !important;
    color: #53c2cc !important;
    cursor: unset !important;
}

.hidden{
    display: none !important;
}